/*Structure*/

head {
p {background-image: url('goggle_dog.png');}
}

body {
    background: linear-gradient(
        to right,
        hwb(190 76% 4%) 0%,
        hwb(190 76% 4%) 70%,
        hwb(199 34% 0%) 70%,
        hwb(199 34% 0%) 100%
    );
    font-family: sans-serif, serif, Arial, Helvetica;
    color:rgb(5, 14, 50)
}

ol {
    font-size: 110%;
    color: hwb(232 15% 4%) 100%
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

img {
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 0%;
    padding: blue;

}

/*Navigation*/
a {
    color: #058f51;
    text-decoration: none;
    padding-bottom: 0%;
    }

/*Text*/
h1 {
    font-size: 250%;
    color: rgb(15, 43, 184);
}
h2 {
    color: #000000;
}
