body {
    background:rgb(59, 10, 138);
    font-family:Arial, Helvetica, sans-serif
}

.assignment {
    display: flex;
    padding: 10px;
    background-color: rgb(56, 185, 185);
}

.assignment img {
    width:200px
}

h1 {
    color: darkgreen;
    text-align: center;
}