body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebeb;
}

h1{
    color: rgb(122, 158, 242);
}
/* Reset some default styles for the list */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style the navigation bar */
header {
    background-color: #ffffff;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Ensure it's on top of other content */
}

main {
    margin-top: 60px; /* Adjust the value based on your navbar's height */
}

nav ul {
    display: flex; /* Display list items horizontally */
    justify-content: space-between; /* Distribute items evenly */
    padding: 1vw 0; /* Use viewport units for padding top and bottom */
    margin-left: 1vw;
}

nav li {
    margin: 0 3vw; /* Use viewport units for margin */
}

nav a {
    text-decoration: none;
    color: rgb(122, 158, 242);
    font-weight: bold;
    font-size: 1.25vw; /* Use viewport units for font size */
}

/* Style the left-aligned "Home" button */
nav .left {
    margin-right: auto; /* Push it to the left */
    margin-left: 25%
}

/* Style the main content area */
main {
    padding: 20px;
    display: flex; /* Enable flex layout */
    align-items: center;
    text-align: center;
}

.description {
    flex: 1; /* Grow to take available space */
    max-width: 80%; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the description horizontally */
    margin-left: 5%;
    min-height: 600px;
    font-size: 2vw; /* Use viewport units for font size */
}

.description h1 {
    font-size: 4vw; /* Increase the font size for larger screens */
}

.description h3 {
    font-size: 2.0vw; /* Increase the font size for larger screens */
    margin-bottom: 3vw; /* Use viewport units for margin */
}

.buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 1vw 3vw; /* Use viewport units for padding */
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 0.5vw; /* Use viewport units for border radius */
    font-size: 1.5vw; /* Use viewport units for font size */
    margin: 2vw; /* Use viewport units for margin */
}

/* Style the image */
.image {
    flex: 1; /* Grow to take available space */
    text-align: right; /* Align the image to the right */
    margin-right: 5vw;
    margin-left: 1.2vw; /* Use viewport units for margin */
}

.image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
}

