body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
        background-color: #333333;
}

h1 {
    color: #333;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.pages {
    display: flex;
    background-color: #333333;
    padding: 30px;
    align-content: center;
    align-items: center;
}

.running-man-box {
    background-color: #3399ff;
    border-radius: 15px;
    flex: 1;
    max-width: 40%;
    min-width: 40%;
    max-height: 400px;
}

.thermometer-box {
    background-color: #3399ff;
    border-radius: 15px;
    flex: 1;
    padding: 10px;
    margin-left: 30px;
}


.funds-raising-box {
    flex: 1;
    max-width: 40%;
    min-width: 40%;
}

.running-man-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: 50px;
    margin-bottom: 90px;
}

#runningMan {
    width: 100px;
    height: auto;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.funds-raised {
    max-width: 1000px;
    min-width: 500px;
}

.thermometer {
    width: 100px;
    height: 400px;
    background-color: #ccc;
    position: relative;
    margin: 20px auto;
    border-radius: 10px;
}

.fill {
    width: 100%;
    bottom: 0;
    background: linear-gradient(to top, red 0%, red 50%, red 50%, red 100%);
    transition: height 0.5s;
}