body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*navbar */
.navbar {
    background-color: black;
    color: white;
    padding: 5px 20px; /* Adjust padding as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px; /* Adjust font size as needed */
}

.navbar-links {
    display: flex;
    align-items: center;
}

.gateways {
    text-align: right;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    margin-right: 10px; /* Add spacing between links */
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire viewport */
}
.content {
    justify-content: left;
}

.search-box {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 13px;
}

.section {
    flex: 1;
    margin-right: 20px;
    padding: 10px;
}

.colleges-section {
    flex: 2; /* This section will be twice as wide */
    margin-right: 20px;
    padding: 10px;
}

.section h2 {
    border-top: 1px solid rgb(0, 0, 0);
    text-align: center;
}

.link-list {
    list-style-type: none;
    padding: 4px;
    columns: 2;
}

.link-list li {
    margin: 5px 0;
}