body {
    font-family: Arial, sans-serif;
}

.title {
    font-size: 10vw;
}

.container {
    width: 80%;
    max-width: 650px;
    min-width: 650px;
    margin: 0 auto;
}

.form-group {
    margin: 2vw 0;
}

label, input {
    font-size: 3vw;
}

input[type="submit"] {
    padding: .5vw 2vw;
    font-size: 3vw;
}